NODE_TLS_REJECT_UNAUTHORIZED = "0"
# URL de conexión a la base de datos PostgreSQL
DATABASE_URL=postgresql://usuario:contraseña@hostname:puerto/nombre_base_datos

# Puerto en el que se ejecutará la API (opcional, por defecto 3000)
API_PORT=3000
